@charset "utf-8";

/*全局*/
body{
	font-family:Helvetica,Arial,"Microsoft YaHei","微软雅黑",STXihei,"华文细黑",SimSun,"宋体",sans-serif;
	font-size:62.5%;
}
a{
    text-decoration: none;
    color: #fff;
/*    font-size:62.5%;*/
}
a:link,a:visited,a:hover,a:ative{
    
}
/*后台背景*/
.adminLoginBg{
    background:url(../images/bg-amdin-1920x1050.jpg) no-repeat center bottom;
    background-size:cover;
/*    min-width: 1000px;*/
    width: 100%;
    min-height: 100%;
    z-index: -100;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.login{
    width:  428px;
    height: 364px;
    margin: 150px auto 0px auto;
    padding: 64px 72px; 
    filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#80ffffff', endColorstr='#80ffffff');
/*    background-color: #fff\0\9;*/
    -webkit-background-color: rgba(255,255,255,0.4);
    -ms-background-color: rgba(255,255,255,0.4);
    -mo-background-color: rgba(255,255,255,0.4);
    background-color: rgba(255,255,255,0.4);
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -mo-border-radius: 20px;
    border-radius: 20px;
    behavior: url(../js/PIE/PIE.htc);
    position: relative\0\9;/*ie8*/
    *position: relative;/*ie7*/
    z-index: 1\0\9;/*ie8*/    
}
:root .login{
    filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#00ffffff', endColorstr='#00ffffff')\0;   
}

.login input{
    width:278px;
    height: 44px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    outline:none;
    border: none;
    -webkit-background-color: rgba(255,255,255,0.9);
    -ms-background-color: rgba(255,255,255,0.9);
    -mo-background-color: rgba(255,255,255,0.9);
    background-color:rgba(255,255,255,0.9);
    margin-bottom: 18px;
    padding: 16px 70px 16px 80px;
    font-size: 3.2em;
    line-height: 44px;
/*    color: #848282;*/
    color: #dedede;
    background-image: url(../images/bg-inputBox.png);
    background-repeat: no-repeat;
    behavior: url(../js/PIE/PIE.htc);
}

.userInput{
    background-position: 20px 13px;
}
.passwordInput,.passwordText{
    background-position: 20px -87px;
}
input.loginHint{
    background-image:none;
    height: 20px;
    width: 120px;
    margin: 0px 0px 0px 24px;
    padding: 4px 10px 4px 10px;
    font-size: 1.6em;
    line-height: 1.6em;
    color: #575757;
    -webkit-background-color: rgba(255,255,255,0.5);
    -ms-background-color: rgba(255,255,255,0.5);
    -mo-background-color: rgba(255,255,255,0.5);
    background-color:rgba(255,255,255,0.5);
    text-align: center;
    behavior: url(../js/PIE/PIE.htc); 
}
input.submintInput{
    background-image: url(../images/bg-loginBtn.png);
    background-position: center 0px;
    background-color: transparent;
    width:428px;
    padding: 0;
    height: 104px;
    margin: 20px auto;
    color: #fff;
    cursor:pointer;
}
input.submintInput:hover{
    background-position: center -106px;
}
.login .inputEdit{
    color: #636363;
    -o-box-shadow: inset 0px 0px 1px 1px #188ae7;
    -mo-box-shadow: inset 0px 0px 1px 1px #188ae7;
    -webkit-box-shadow: inset 0px 0px 1px 1px #188ae7;
    -ms-box-shadow: inset 0px 0px 1px 1px #188ae7;
    box-shadow: inset 0px 0px 1px 1px #188ae7;
/*    border: 1px #188ae7 solid;*/
}
.login .inputError{
    -o-box-shadow: inset 0px 0px 1px 1px #e71818;
    -mo-box-shadow: inset 0px 0px 1px 1px #e71818;
    -webkit-box-shadow: inset 0px 0px 1px 1px #e71818;
    -ms-box-shadow: inset 0px 0px 1px 1px #e71818;
    box-shadow: inset 0px 0px 1px 1px #e71818;
/*    border: 1px #e71818 solid;*/
    
}

/*列表页*/

/*列表背景*/
.adminListBg{
    background:url(../images/bg-index.jpg) no-repeat center top;
    background-size:cover;
    min-width: 1000px;
/*    min-height: 100%;*/
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
/*    margin: 0 auto;*/
}

/*头部*/
.header{
    background:url(../images/bg-title.png) no-repeat 0 0;
    height: 98px;
    min-width: 1000px;
/*    width: 1000px;*/
    margin: 0;
}
.header_r{
    background:url(../images/bg-title.png) no-repeat right -200px;
    height: 98px;
    padding: 0px 50px;
    min-width: 1000px;
}
.header_r p{
    background:url(../images/bg-title.png) repeat-x 0 -100px;
    height: 98px;
    min-width: 320px;
    text-align: center;
    font-size: 4.2em;
    color: #fff;
    line-height: 96px;
    -webkit-text-shadow: 0em -0.02em 0em #000000;
    text-shadow: 0em -0.02em 0em #000000;      
}

/*内容*/
.content{
/*    width: 1000px;*/
    min-width: 1000px;
/*    max-width: 1440px;*/
/*    width: 1000px;*/
    margin: 0px 80px;
}
/*添加按钮*/
.add_list{
    padding: 40px 0px 20px 0px;
}


.list_detailInfo{
    background-color: #fff;
}

.list_detailInfo .title{
/*    margin: 10px 20px;*/
    padding: 10px 2%;
    max-width:100%; 
    width: 96%;
}
/*返回顶部*/
p#back-to-top {
    position: fixed;
    _position:absolute;
    bottom: 25px;
    right: 20px; 
    display: none;
}
p#back-to-top a {
    display: block;
    width: 50px;
}

p#back-to-top a span {
    border-radius: 6px;
    display: block;
    height: 50px;
    width: 50px;
    -moz-transition: background 1s;
    -webkit-transition: background 1s;
    -o-transition: background 1s;
    -ms-transition: background 1s;
    transition: background 1s;
    background: #cacaca url(../images/arrow-up.png) no-repeat center center;
    opacity: 0.8;
    behavior: url(../common/js/PIE/PIE.htc);
    position:relative\9;
}
#back-to-top a:hover span {
    background: #188ae7 url(../images/arrow-up.png) no-repeat center center;
}
